# 1_start

## Modifying sys.path to Import External Modules

In [ ]:
import sys
sys.path.append("C:\Users\안채민\Desktop\Jupyter_Book\template_jupyterbook")

# Introduction to Python Programming

## Python Data Type

In [ ]:
a = 5 # integer
b = 5.0 # float: numbers with decimal points
c = "I'm a String" # string
d = True # boolean: true (1) or false (0)
e = ["apple", "banana", "grapes"] # list

print("Type of a: ", type(a))
print("Type of b: ", type(b))
print("Type of c: ", type(c))
print("Type of d: ", type(d))
print("Type of e: ", type(e))

Type of a:  <class 'int'>
Type of b:  <class 'float'>
Type of c:  <class 'str'>
Type of d:  <class 'bool'>
Type of e:  <class 'list'>

## List in Python

In [ ]:
f = ["apple", "banana", "grapes", "banana"]
print("first and third element of the list:", f[0],",", f[2])
print("the number of elements with the specified value: ",f.count("banana"))
f.append("strawberry")
print("Add an element at the end of the list:\n",f)
f.insert(2,"watermelon")
print("Add an element at specified position of the list:\n",f)

## List Slicing in Python

In [ ]:
f = ["apple", "banana", "grapes", "banana"]
print("Elements from f[2] through  f[3]: ",f[2:])
print("Elements from f[1] through  f[2]: ",f[1:3])
print("Elements from f[0] through  f[1]: ",f[:2])
# Index -1 represents the last element, -N represents the first element (N is the length of the list)
print("Element f[-2] or equivalently f[2] in this case: ",f[-2])

## Any or All

In [ ]:
print("Is anything true?: ", any([False, False, False, False]))
print("Is anything true?: ", any([False, True, False, False]))
print("Is everything true?: ", all([True, True, True, True]))
print("Is everything true?: ", all([True, True, True, False]))

## Arithmetic Operators

In [ ]:
a, b = 10, 3
print("a + b = ", a + b) # Addition
print("a - b = ", a - b) # Subtraction
print("a * b = ", a * b) # Multiplication
print("a / b = ", a / b) # Division
print("a // b = ", a // b) # Floor division: rounds the result down to the nearest whole number
print("a % b = ", a % b) # Modulus
print("a ^ b = ", a ** b) # Exponentiation

a + b =  13
a - b =  7
a * b =  30
a / b =  3.3333333333333335
a // b =  3
a % b =  1
a ^ b =  1000

## Comparison Operators

In [ ]:
a, b, c, d, e, f = 5, 5, 3, 7, "5", "apple"
print("Is a and b equal: ", a == b)
print("Is a and c not equal: ", a != c)
print("Is a is bigger than c: ", a > c)
print("Is a is bigger than d: ", a < d)
print("Is a is bigger than equal to b: ", a >= b)
print("Is integer 5 and string 5 equal: ", a == e)

## Identity Operators

In [ ]:
f = ["apple", "banana"]
g = ["apple", "banana"]
h = f
print("Is f and g the same object?", f is g)
print("Is f and h the same object?", f is h)
print("Does f and g has same elements?", f == g)

Is f and g the same object? False
Is f and h the same object? True
Does f and g has same elements? True

## Membership Operators

In [ ]:
f = ["apple", "banana", "grapes", "banana"]
print("Is element banana in list f?", "banana" in f)
print("Is element banana not in list f?", "banana" not in f)

## Logical Operators

In [ ]:
x = 11
print("Is 5 < x < 10: ", x > 5 and  x < 10)
print("Is x < 5 or x > 10: ", x < 5 or x > 10)

## Range

In [ ]:
print("Range object: ",range(10))
print("Numbers from 0 to 9, increment by 1: ",list(range(10)))
print("Numbers from 3 to 9, increment by 1: ",list(range(3,9)))
print("Numbers from 3 to 9, increment by 1: ",list(range(3,9,2)))
print("Numbers from 20 to 10, decrement by 2: ",list(range(20,10,-2)))

## For Loops

In [ ]:
fruits = ["apple", "banana", "cherry", "watermelon"]
for x in fruits:
  print(x)
  if x == "cherry":
    break

for _ in range(3, 9, 2): # can use any characters instead of _
    print(_)
    x = 3

## If else

In [ ]:
a, b = 200, 33
if a < b:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

## While

In [ ]:
i = 0 # if you try with i = 10, then while loop won't run
while i < 6:
  i = i + 1
  if i == 3:
    print("Exit while loop as i is equal to 3")
    break
  else:
    print("i is less than 6, i is equal to ", i) # try with i=10

## Functions

In [ ]:
def my_function(food):
    return(food[1])
fruits = ["apple", "banana", "cherry"]
output = my_function(fruits)
print("Output of my_function() is: ", output)

Output of my_function() is:  banana

## Plotting

In [ ]:
# importing the required module
import matplotlib.pyplot as plt

# create data
x = list(range(10,100,10))
y1 = list(range(100,10,-10))
y2 = list(range(10,100,10))

# create plot
plt.clf() # clear the current figure if any
plt.plot(x, y1, label = "line 1") # plot lines
plt.plot(x, y2, label = "line 2") # plot lines
plt.legend() # add legend
plt.title('Relationship between x and y') # add title
plt.show() # show the plot

# Classes and Objects
## Attributes

* `class` creates a user-defined data structure.
* Attributes: the variables that belong to a class.
* Attributes can be accessed using the dot (.) operator.

In [ ]:
class MyClass: # a class in its simplest form
  name = "Ewha" # attribute: a variable that belong to a class
  age = 25
myobject = MyClass() # an object in its simplest form
print("My name is", myobject.name)
print("I'm", myobject.age, "years old")

My name is Ewha
I'm 25 years old

## `self` Parameter

* A reference to the current instance of the class, and is used to access variables that belongs to the class.

In [ ]:
class MyClass:
  name = "Ewha"
  age = 25
  def myname(self): # a function that belongs to the class
    print("My name is", self.name)
    print("I'm", self.age, "years old")
myobject = MyClass()
myobject.myname()
print("Access name variable inside object:", myobject.name)
print("Access age variable inside object:", myobject.age)

My name is Ewha
I'm 25 years old
Access name variable inside object: Ewha
Access age variable inside object: 25

## `__init__()` Function

* A function which is always executed when the `class` is being initiated.

* `__init__`: used to initialize objects of a newly created object of a class.

In [ ]:
class MyClass:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def myname(self):
    print("My name is", self.name)
    print("I'm", self.age, "years old")

myobject = MyClass(name="Amy", age=55)
myobject.myname()
print(myobject)

My name is Amy
I'm 55 years old
<__main__.MyClass object at 0x789f405dfe50>

## Default values for `__init__()` Function

In [ ]:
class MyClass:
  def __init__(self, name="Ewha", age=25):
    self.name = name
    self.age = age

  def myname(self):
    print("My name is", self.name)
    print("I'm", self.age, "years old")

myobject = MyClass()
myobject.myname()

My name is Ewha
I'm 25 years old

## `__init__()` Function and `self` Parameter

* It does not have to be named `self`, but it has to be the first parameter of any function in the class.

In [ ]:
class MyClass:
  def __init__(hey, name="Ewha", age=25):
    hey.name = name
    hey.age = age

  def myname(hey):
    print("My name is", hey.name)
    print("I'm", hey.age, "years old")

myobject = MyClass(name="Apple", age=55)
myobject.myname()

My name is Apple
I'm 55 years old

## `__str__()` Function

* Used to define how a class object should be represented as a string.

In [ ]:
print(myobject)

class MyClass:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"My name is {self.name} and I'm {self.age} years old."

myobject = MyClass(name="Apple", age=55)
print(myobject)

## Modify Object Variables and Delete Object

In [ ]:
print("age before modifying = ", myobject.age)
myobject.age = 40
print("age after modifying = ", myobject.age)
del myobject.age
# print("age after deleting = ", myobject.age) # will return 'AttributeError: myobject' object has no attribute 'age'
del myobject
# print(myobject) # will return NameError: name 'myobject' is not defined

## Module: Importing

* A file containing a set of functions you want to include in your application.
* Create `mymodule.py` file including the below:

In [ ]:
# <mymodule.py>
def myname(name):
  print("This is a function inside of a file mymodule.py")
  print("My name is", name)

def myage(age):
  print("I'm", age, "years old")

* `Import` the module named `mymodule`, and call `myname` and `myage` function from `mymodule`.

In [ ]:
import mymodule
mymodule.myname(name="Ewha")
mymodule.myage(age=25)

This is a function inside of a file mymodule.py
My name is Ewha
I'm 25 years old

## Module: Importing
* You can choose to import only parts from a module, by using the `from` keyword.

In [ ]:
from mymodule import myname
mymodule.myname(name="Ewha")
# mymodule.myage(age=25) # a function myage is not imported

## Module: Re-naming a Module
* You can create an nickname when you import a module, by using the `as` keyword.

In [ ]:
import mymodule as md
md.myname(name="Ewha")
md.myage(age=25)